{% extends "OWMBundle::layout.html.twig" %}
{% block body %}
<table class="zebra-striped">
<thead>
<tr>
<th>Parametre</th>
<th>Valeur</th>
</tr>
</thead>

<tbody>
<tr>
<td>depotDrive</td>
<td>{{ depotDrive }} </td>
</tr>

<tr>
<td>nextBootServiceURL</td>
<td>{{ nextBootServiceURL }}</td>
</tr>

<tr>
<td>utilsUrl</td>
<td>{{ utilsUrl }}</td>
</tr>

<tr>
<td>configUrl</td>
<td>{{ configUrl }} </td>
</tr>

<tr>
<td>utilsDrive</td>
<td>{{ utilsDrive }}</td>
</tr>

<tr>
<td>opsiServer</td>
<td>{{ opsiServer }}</td>
</tr>

<tr>
<td>nextBootServerType</td>
<td>{{ nextBootServerType }}</td>
</tr>

<tr>
<td>depotUrl</td>
<td>{{ depotUrl }}</td>
</tr>

<tr>
<td>depotId</td>
<td>{{ depotId }}</td>
</tr>

<tr>
<td>configDrive</td>
<td>{{ configDrive }} </td>
</tr>

<tr>
<td>winDomain</td>
<td>{{ winDomain }}</td>
</tr>


</tbody>

</table>
{% endblock %}

