{% extends "OWMBundle::layout.html.twig" %}
{% block body %}

<form action="{{ path('Paquets_creer') }}" method="post" {{ form_enctype(form) }}>


<div class="row" align="center">
          <div class="span12" align="left">
<div class="alert-message block-message">
            <h2 align="center">Information</h2>
</div>
<div class="alert-message block-message" align="center">
		<p>{{ form_label(form.type) }}
{{ form_widget(form.type) }}</p>


<p>{{ form_label(form.productId) }}
{{ form_widget(form.productId) }}</p>


<p>{{ form_label(form.productName) }}
{{ form_widget(form.productName) }}</p>


<p>{{ form_label(form.description) }}
{{ form_widget(form.description) }}</p>


<p>{{ form_label(form.advice) }}
{{ form_widget(form.advice) }}</p>


<p>{{ form_label(form.productVersion) }}
{{ form_widget(form.productVersion) }}</p>


<p>{{ form_label(form.packageVersion) }}
{{ form_widget(form.packageVersion) }}</p>


<p>{{ form_label(form.licence) }}
{{ form_widget(form.licence) }}</p>


<p>{{ form_label(form.priority) }}
{{ form_widget(form.priority) }}</p>
</div>
          </div>

          <div class="span12" align="left">

<div class="alert-message block-message info">
<h2 align="center">Fichiers</h2>
</div>
<div class="alert-message block-message info">
<p>
{{ form_widget(form.install) }}
Install
</p>
<p>
{{ form_widget(form.uninstall) }}
Uninstall
</p>
<p>
{{ form_widget(form.update) }}
Update
</p>
<p>
{{ form_widget(form.always) }}
Always
</p>
<p>
{{ form_widget(form.once) }}
Once
</p>
<p>
{{ form_widget(form.custom) }}
Custom
</p>
<p>
{{ form_widget(form.logon) }}
Logon
</p>
      </div>

          </div>
        </div>
<div class="actions">
<h3>Auteur</h3>
	<p>{{ form_widget(form.authorname) }}</p>
	<p>
	<div class="input-prepend">
		<span class="add-on">@</span>{{ form_widget(form.authormail) }}</p>
	</div>
</div>
{{ form_rest(form) }}
    <input type="submit" />
</form>
{% endblock %}
