{% extends "OWMBundle::layout.html.twig" %}
{% block body %}
<script>
$(function() {
$("table#paquets").tablesorter({ sortList: [[1,0]] });
});
</script>
<table id="paquets" class="zebra-striped">
<thead>
<tr>
<th class="blue header" >ProductId</th>
<th class="red header" >productVersion</th>
<th class="green header" >packageVersion</th>
<th class="purple header" >productType</th>
</tr>
</thead>
<tbody>
{% for key, pkg in paquets %}
<tr>
<td><b><a data-content="{{ pkg['description']}}" rel="popover" href="#" data-original-title="Description">{{ key|upper }}</a></b></td>
<td>{{ pkg['productVersion'] }}</td>
<td>{{ pkg['packageVersion'] }}</td>
<td>{{ pkg['productType'] }}</td>
</tr>
{% endfor %}
</tbody>

</table>

<script>
            $(function () {
              $("a[rel=popover]")
                .popover({
                  offset: 10
                })
                .click(function(e) {
                  e.preventDefault()
                })
            })
          </script>
{% endblock %}
