<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}OWM{% endblock %}</title>
{% block stylesheets %}
<link type="text/css" href="{{ asset('bundles/owm/css/bootstrap.css') }}" rel="stylesheet"/>
<link type="text/css" href="{{ asset('bundles/owm/css/jquery.treeview.css') }}" rel="stylesheet"/>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.min.js"></script>
<script type="text/javascript" src="{{ asset('bundles/owm/js/moment.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/owm/js/jquery.tablesorter.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/owm/js/bootstrap-modal.js') }}"></script> 
<script type="text/javascript" src="{{ asset('bundles/owm/js/bootstrap-alert.js') }}"></script> 
<script type="text/javascript" src="{{ asset('bundles/owm/js/bootstrap-twipsy.js') }}"></script> 
<script type="text/javascript" src="{{ asset('bundles/owm/js/bootstrap-popover.js') }}"></script> 
<script type="text/javascript" src="{{ asset('bundles/owm/js/bootstrap-dropdown.js') }}"></script> 
<script type="text/javascript" src="{{ asset('bundles/owm/js/bootstrap-scrollspy.js') }}"></script> 
<script type="text/javascript" src="{{ asset('bundles/owm/js/bootstrap-tabs.js') }}"></script> 
<script type="text/javascript" src="{{ asset('bundles/owm/js/bootstrap-button.js') }}"></script> 
<script type="text/javascript" src="{{ asset('bundles/owm/js/jquery.treeview.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/owm/js/jquery.progressbar.js') }}"></script>
{% endblock %}
</head>
<body>
<div data-dropdown="dropdown" class="topbar" id="topbar-example">
              <div class="topbar-inner">
                <div class="container">
                  <h3><a href="{{ path('homepage') }}">OpsiWebManager</a></h3>
                  <ul>
                    <li class="menu">

                      <a class="menu" href="#">
			<img src="{{ asset('bundles/owm/images/icons/fugue/icons/box.png') }}">
			{{ 'layout.menu.products'|trans([],'OWMBundle') }}</a>
                      <ul class="menu-dropdown">

                        <li><a href="{{ path('Paquets') }}">{{ 'layout.menu.products.home'|trans([],'OWMBundle')}}</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('Paquets_voir') }}">{{ 'layout.menu.products.show'|trans([],'OWMBundle')}}</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('Paquets_creer') }}">{{ 'layout.menu.products.create'|trans([],'OWMBundle')}}</a></li>
                        <li><a href="{{ path('Paquets_compiler') }}">{{ 'layout.menu.products.compil'|trans([],'OWMBundle')}}</a></li>
                        <li><a href="{{ path('Paquets_installer') }}">{{ 'layout.menu.products.install'|trans([],'OWMBundle')}}</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('Paquets_desinstaller') }}">{{ 'layout.menu.products.uninstall'|trans([],'OWMBundle')}}</a></li>
                      </ul>
                    </li>
			</ul>

			<ul>
			<li class="menu">

                      <a class="menu" href="#">
			<img src="{{ asset('bundles/owm/images/icons/fugue/icons/server.png') }}">
{{ 'layout.menu.clients'|trans([],'OWMBundle') }}</a>
                      <ul class="menu-dropdown">
                        <li><a href="{{ path('Clients_voir') }}">{{ 'layout.menu.clients.home'|trans([],'OWMBundle') }}</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('Clients_creer') }}">{{ 'layout.menu.clients.create'|trans([],'OWMBundle') }}</a></li>
			<li class="divider"></li>
                        <li><a href="{{ path('Clients_import') }}">import</a></li>
			
                      </ul>
                    </li>
                  </ul>

                        <ul>
                        <li class="menu">
                      <a class="menu" href="#">
			<img src="{{ asset('bundles/owm/images/icons/fugue/icons/wooden-box-label.png') }}">
{{ 'layout.menu.backups'|trans([],'OWMBundle') }}</a>
                      <ul class="menu-dropdown">
                        <li><a href="{{ path('Backup') }}">{{ 'layout.menu.backups.home'|trans([],'OWMBundle') }}</a></li>
                        <li class="divider"></li>
                        <li><a href="#">{{ 'layout.menu.backups.delete'|trans([],'OWMBundle') }}</a></li>
                      </ul>
                    </li>
                  </ul>

                        <ul>
                        <li class="menu">

                                      <a class="menu" href="#">
			<img src="{{ asset('bundles/owm/images/icons/fugue/icons/equalizer.png') }}">
{{ 'layout.menu.settings'|trans([],'OWMBundle') }}</a>
                      <ul class="menu-dropdown">
                        <li><a href="{{ path('Configuration_voir') }}">{{ 'layout.menu.settings.show'|trans([],'OWMBundle') }}</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('Configuration_modifier') }}">{{ 'layout.menu.settings.modify'|trans([],'OWMBundle') }}</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
<img src="{{ asset('bundles/owm/images/hd.png') }}">
{% block body %}
{% endblock %}

</body>
</html>
