<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}OWM{% endblock %}</title>
{% block stylesheets %}
<link type="text/css" href="{{ asset('bundles/owm/css/bootstrap.css') }}" rel="stylesheet"/>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.min.js"></script>
<script type="text/javascript" src="{{ asset('bundles/owm/js/moment.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/owm/js/jquery.tablesorter.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/owm/js/bootstrap-modal.js') }}"></script> 
<script type="text/javascript" src="{{ asset('bundles/owm/js/bootstrap-alert.js') }}"></script> 
<script type="text/javascript" src="{{ asset('bundles/owm/js/bootstrap-twipsy.js') }}"></script> 
<script type="text/javascript" src="{{ asset('bundles/owm/js/bootstrap-popover.js') }}"></script> 
<script type="text/javascript" src="{{ asset('bundles/owm/js/bootstrap-dropdown.js') }}"></script> 
<script type="text/javascript" src="{{ asset('bundles/owm/js/bootstrap-scrollspy.js') }}"></script> 
<script type="text/javascript" src="{{ asset('bundles/owm/js/bootstrap-tabs.js') }}"></script> 
<script type="text/javascript" src="{{ asset('bundles/owm/js/bootstrap-button.js') }}"></script> 
{% endblock %}
</head>
<body>
<div data-dropdown="dropdown" class="topbar" id="topbar-example">
              <div class="topbar-inner">
                <div class="container">
                  <h3><a href="{{ path('homepage') }}">OpsiWebManager</a></h3>
                  <ul>
                    <li class="menu">

<!--- PAQUETS --!>
                      <a class="menu" href="#">
			<img src="{{ asset('bundles/owm/images/icons/box.png') }}" >{{ 'layout.paquets'|trans([],'OWMBundle') }}</a>
                      <ul class="menu-dropdown">

                        <li><a href="{{ path('Paquets') }}">{{ 'layout.home'|trans([],'OWMBundle')}}</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('Paquets_voir') }}">Lister</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('Paquets_creer') }}">Créer</a></li>
                        <li><a href="{{ path('Paquets_compiler') }}">Compiler</a></li>
                        <li><a href="{{ path('Paquets_installer') }}">Installer</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('Paquets_desinstaller') }}">Désinstaller</a></li>
                      </ul>
                    </li>
			</ul>
<!--- CLIENTS --!>
			<ul>
			<li class="menu">

                      <a class="menu" href="#">Clients</a>
                      <ul class="menu-dropdown">
                        <li><a href="{{ path('Clients_voir') }}">Lister</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('Clients_creer') }}">Créer</a></li>
                      </ul>
                    </li>
                  </ul>

<!--- BACKUPS --!>
                        <ul>
                        <li class="menu">

                      <a class="menu" href="#">Backups</a>
                      <ul class="menu-dropdown">
                        <li><a href="{{ path('Backup') }}">Lister</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Detail</a></li>
                        <li><a href="#">Supprimer</a></li>
                      </ul>
                    </li>
                  </ul>

<!--- CONFIGURATION --!>
                        <ul>
                        <li class="menu">

                                      <a class="menu" href="#">Configuration</a>
                      <ul class="menu-dropdown">
                        <li><a href="{{ path('Configuration_voir') }}">Voir</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('Configuration_modifier') }}">Modifier</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
<img src="{{ asset('bundles/owm/images/hd.png') }}">
{% block body %}
{% endblock %}

</body>
</html>
