{% extends "OWMBundle::layout.html.twig" %}
{% block body %}
<div class="hero-unit" align="center">
<h1>{{ client['hostId'] }}</h1>
<h2>{{ client['ipAddress'] }}</h2>
<h3>{{ client['hardwareAddress'] }}</h3>
</div>
<hr/>
<div class="hero-unit">
<p>Description : {{ client['description'] }}<p>
<p>Date de création : {{ created['annee'] }}/{{ created['mois'] }}/{{ created['jours'] }} à {{ created['heures'] }}:{{created['minutes'] }}:{{ created['secondes'] }}</p>
<p>Numero d'inventaire : {{ client['inventoryNumber'] }}</p>
<p>Notes : {{ client['notes'] }}</p>

<p>Derniere fois vu : {{ lastSeen['annee'] }}/{{ lastSeen['mois'] }}/{{ lastSeen['jours'] }} à {{ lastSeen['heures'] }}:{{lastSeen['minutes'] }}:{{ lastSeen['secondes'] }}</p>
</div>

{% endblock %}
