{% extends "OWMBundle::layout.html.twig" %}
{% block body %}
<script >
$(function() {
//Cache le span pour le nombre de clients
$('#nb_client').hide();
$('#action-div').hide();

$("table#clients").tablesorter({ 
	headers: {
			0: { 
				sorter: false 
			}
		},
	sortList: [[1,0]]
	});
$('#action_message').hide();
$('#action_dl_cvs').hide();

$('#mediumSelect').change(function() {
	var choix = $(this).val();
	if (choix == "Message") {
	$('#action_message').show("slow");
	}
	else { $('#action_message').hide(); }

});

});
</script>
{% if app.session.hasFlash('notice') %}
<div id="alert" class="alert-message success">
	<a id="close_alert" class="close" href="#">×</a>
	<p>{{ app.session.flash('notice') }}</p>
</div>
<script>
setTimeout(function() {
$('#alert').hide(1000);
}, 5000);
</script>
{% endif %}
{% if app.session.hasFlash('export') %}
<script>
$(function(){
$('#action-div').show();
$('#action_dl_cvs').show();

});

</script>
{% endif %}
{% if clients %}
<form id="action_clients" method="POST" action="{{ path('Clients_process') }}">
<hr>
<div id="action-div">

<p align="center">
<span id="nb_client" class="label warning"></span>
<hr>
<div class="quickstart">
      <div class="container">
        <div class="row">
          <div class="span5">
            <h6>Action</h6>
<p>
<select id="mediumSelect" name="client_action" class="medium">
		<option> </option>
                <option value="Eteindre">Eteindre</option>
                <option value="Reveiller">Réveiller</option>
                <option value="Redemarrer">Redémarrer</option>
		<option value="Supprimer">Supprimer</option>
                <option value="Message">Envoyer Message</option>
		<option value="Exporter">Exporter</option>
              </select>
</p>
          </div>
          <div class="span5">
            <h6>Validation</h6>
<p>
            <button class="btn large primary" type="submit">Executer</button>
</p>
          </div>
          <div class="span5">
		<p>
			<div id="action_message">
				<h6>Message</h6>
					<textarea rows="3" name="message_client" class="xxlarge"></textarea>
			</div>
			<div id="action_dl_cvs">
				<h6>Téléchargement .csv</h6>
				<p><a href="{{ asset('tmp/clients.csv') }}"><img src="{{ asset('bundles/owm/images/icons/woofunction/save_download_32.png') }}"></a></p>
			</div>
		</p>

          </div>
        </div><!-- /row -->
      </div>
    </div>












</p>
<hr>
</div>

<table id="clients" class="zebra-striped">
	<thead>
		<tr>
			<th><input id="check_all" type="checkbox"></th>
			<th class="blue header">Client</th>
			<th class="green header">Ip</th>
			<th class="red header">Mac</th>
			<th class="purple header">Statut</th>
			<th class="yellow header">Action</th>
		</tr>
	</thead>

	<tbody>

	{% for host in clients %}

<tr>
			<td><input type="checkbox" value="{{ host['hostId'] }}" name="clients[]"></td>
			<td id='hostid'>{{ host['hostId'] }} </td>
			<td>{{ host['ipAddress'] }}</td>
			<td>{{ host['hardwareAddress'] | upper }}</td>
			<td>Online</td>
			<td>
<a class="btn primary" href="{{ path('Clients_detail', { 'client' : host['hostId']}) }}">Editer</a>
<a class="btn danger" 
data-content="Etes vous sûre ?
<hr>
<a href='{{ path('Clients_supprimer', { 'client' : host['hostId']}) }}'>
<button name='confirm_yes' align='center' class='btn success'>Oui</button></a>
<button name='confirm_no' align='center' class='btn danger''>Non</button>
" rel="popover" href="#" data-original-title="Confirmation">Supprimer</a>
			</td>
			
		</tr>

	{% endfor %}

	</tbody>

</table>
</form>
<script>
            $(function () {

//Affiche le popover pour la suppréssion des clients
$("a[rel=popover]").popover({offset: 10,trigger: focus,html: true})

//Affiche le nombre de clients séléctionnés
$('#clients').find(':checkbox').click(function() {
$("#check_all").click(function() { 
	var cases = $('#clients').find(':checkbox');
	if(this.checked){			
		cases.attr('checked', true);

		$('#nb_client').html((($(":checkbox:checked").length)-1) + " clients");
                $('#action-div').show('fast');
		$('#nb_client').show('fast');
        }else{
		cases.attr('checked', false);
		$('#nb_client').hide('fast');
                $('#action-div').hide('fast');
        };
});

	if(this.checked){
		$('#nb_client').html((($(":checkbox:checked").length)) + " clients");
                $('#action-div').show('fast');
		$('#nb_client').show('fast');
	}else{
		if ($(":checkbox:checked").length > 0){
		$('#nb_client').html((($(":checkbox:checked").length)) + " clients");
                $('#action-div').show('fast');
		$('#nb_client').show('fast');
                
		}else{
		$('#nb_client').hide('fast');
                $('#action-div').hide('fast');
		};
	};
});
});
          </script>
{% else %}
<div class="hero-unit">
        <h1>Aucun clients</h1>
        <p>Il n'existe pas encore de client dans votre dépôt. </p>
	<p>Vous pouvez en créer un en cliquant sur le bouton "Créer client", <br> Ou en importer depuis un fichier .CSV en cliquant sur le bouton "Importer client"</p>
        <p><a href="{{ path('Clients_creer')}}"class="btn primary large">Créer client »</a><a href="{{ path('Clients_import')}}"class="btn large">Importer client »</a></p>
      </div>
{% endif %}
{% endblock %}
